* {
  box-sizing: border-box;
  /* A slide in class said to include this on all stylesheets */
}

header {
  background-color: #ffffff;
  font-family: arial, helvetica, sans-serif;
}

header h1 {
  font-family: arial, helvetica, sans-serif;
  color: #9767fc;
  font-size: 2em;
  padding-top: 1.5em;
  padding-bottom: .5em;
  text-align: center;
  /* preferred to specify padding on top and bottom and center align instead of shorthand for easier testing, but I would probably use shorthand if this was a logo */
}

body {
  margin: 0 0 0 0;
  max-width: 100%;
}

#navbar {
  /* Navigation bar returns to next line when resizing window */
  background-color: #9767fc;
  font-family: arial, helvetica, sans-serif;
  color: #ffffff;
  font-weight: bold;
  margin: 0 0 0 0;
  float: left;
  width: 100%;
}

#navbar ul {
  background-color: #9767fc;
  width: 100%;
}

#navbar ul a {
  /* I adjusted the width % depending on the amount of links in the nav bar (100/7=14.28~). Do you recommend an easier way that would allow more items to be added to the list without correcting that precentage? */
  float: left;
  padding: .5em 2em;
  text-align: center; 
  border-right: 2px solid rebeccapurple;
  width: 14.28%;
  text-decoration: none;
  color: #ffffff;
}

#navbar a {
  display: block;
  padding: 0 0;
}

aside {
  clear: both;
  float: left;
  background-color: #c4a9fc;
  font-family: arial, helvetica, sans-serif;
  color: #ffffff;
  font-weight: bold;
  padding: 3em 3em 7em;
  height: 500px;
  width: 25%;
}

aside li {
  padding: .5em;
}

section {
  /* I would prefer to use the section tag for this rather than the article. I think I remember you saying that this could be whatever we preferred. */
  padding: 3em;
  background-color: #dfd9f7;
  font-family: arial, helvetica, sans-serif;
  height: 500px;
  width: 75%;
  float: right; 
}

figure {
  clear: both;
  background-color: #e3d9f7;
  height: 300px;
  width: 500px;
}

figure img {
  height: 250px;
  width: auto;
  margin: 2em 4em;
}

figure figcaption {
  background-color: #e3d9f7;
  font-family: arial, helvetica, sans-serif;
  text-align: center;
  font-size: 9pt;
}

footer {
  background-color: #ffffff;
  font-family: arial, helvetica, sans-serif;
  text-align: center;
}

footer img {
  height: 25px;
  width: auto;
  margin: 30px 10px;
}