* {
  box-sizing: border-box;
  /* A slide in class said to include this on all stylesheets */
}

header {
  background-color: #ffffff;
  font-family: arial, helvetica, sans-serif;
}

header h1 {
  font-family: arial, helvetica, sans-serif;
  color: #9767fc;
  font-size: 2em;
  padding-top: 1.5em;
  padding-bottom: .5em;
  text-align: center;
  /* preferred to specify padding on top and bottom and center align instead of shorthand for easier testing, but I would probably use shorthand if this was a logo */
}

#navbar {
  background-color: #9767fc;
  font-family: arial, helvetica, sans-serif;
  color: #ffffff;
  font-weight: bold;
  overflow: hidden;
}

#navbar li {
  background-color: #9767fc;
  border-right: 2px solid rebeccapurple;
  float: left;
  padding:.5em 3em;
}

#navbar a {
  display: block;
  text-align: center; 
}

aside {
  clear: both;
  float: left;
  background-color: #c4a9fc;
  font-family: arial, helvetica, sans-serif;
  color: #ffffff;
  font-weight: bold;
  padding: 3em 3em 7em
}

aside li {
  padding: .5em
}

section {

  background-color: #e3d9f7;
  font-family: arial, helvetica, sans-serif;
  
}

figure {
  background-color: #e3d9f7;
  font-family: arial, helvetica, sans-serif;
}

caption {
  background-color: #e3d9f7;
  font-family: arial, helvetica, sans-serif;
}

footer {
  background-color: #ffffff;
  font-family: arial, helvetica, sans-serif;
}