* {
  box-sizing: border-box;
  /* A slide in class said to include this on all stylesheets */
}

header {
  background-color: #ffffff;
  font-family: arial, helvetica, sans-serif;
}

header h1 {
  font-family: arial, helvetica, sans-serif;
  color: #9767fc;
  font-size: 2em;
  padding-top: 1.5em;
  padding-bottom: .5em;
  text-align: center;
  /* preferred to specify padding on top and bottom and center align instead of shorthand for easier testing, but I would probably use shorthand if this was a logo */
}

#navbar {
  background-color: #9767fc;
  font-family: arial, helvetica, sans-serif;
  color: #ffffff;
  font-weight: bold;
  overflow: hidden;
  height: 35px;
  width: 100%;
}

#navbar ul {
  background-color: #9767fc;
}


#navbar li {
  
  border-right: 2px solid rebeccapurple;
  float: left;
  padding: .5em 3em;
  
}

#navbar a {
  display: block;
  text-align: center; 
}

#navbar li a:hover {
  /* link needs to be added for hover color to show up */
  background-color: rebeccapurple;
}

aside {
  clear: both;
  float: left;
  background-color: #c4a9fc;
  font-family: arial, helvetica, sans-serif;
  color: #ffffff;
  font-weight: bold;
  padding: 3em 3em 7em;
  height: 500px;
  width: 25%;
}

aside li {
  padding: .5em;
  
}

section {
  padding: 3em;
  background-color: #dfd9f7;
  font-family: arial, helvetica, sans-serif;
  height: 500px;
  width: 75%;
  float: right; /* CLEAR THIS FLOAT */
  /* I would prefer to use the section tag for this rather than the article. I think I remember you saying that this could be whatever we preferred. */
}

figure {
  background-color: #e3d9f7; 
}

figure img {
  height: 250px;
  width: auto;
  margin: 2em 4em
  
}

figcaption {
  background-color: #e3d9f7;
  font-family: arial, helvetica, sans-serif;
  text-align: center;
  font-size: 9pt;
}

footer {
  background-color: #ffffff;
  font-family: arial, helvetica, sans-serif;
  text-align: center;
}

footer img {
  height: 25px;
  width: auto;
  margin: 30px 10px;
    
}