header {
  background-color: #ffffff;
  font-family: arial, helvetica, sans-serif;
}

header h1 {
  font-family: arial, helvetica, sans-serif;
}

nav {
  background-color: #ffffff;
  font-family: arial, helvetica, sans-serif;
}

aside {
  background-color: #ffffff;
  font-family: arial, helvetica, sans-serif;
}

section {
  background-color: #ffffff;
  font-family: arial, helvetica, sans-serif;
}

figure {
  background-color: #ffffff;
  font-family: arial, helvetica, sans-serif;
}

caption {
  background-color: #ffffff;
  font-family: arial, helvetica, sans-serif;
}

footer {
  background-color: #ffffff;
  font-family: arial, helvetica, sans-serif;
}